# 1. Introduction

In [3]:
import pandas as pd
pd.set_option('display.max_rows',5)
import numpy as np
reviews = pd.read_csv("C:\\Users\\yousb\\Desktop\\bincoding\\Pandas\\winemag-data-130k-v2.csv", index_col = 0)

In [4]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

# 2. Summary functions

Pandas provides many simple "summary functions" (not an official name) which restructure the data in some useful way. For example, consider the describe() method:

pandas는 데이터를 유용한 방식으로 재구성하는 여러 가지 간단한 '요약함수'(공식 명칭은 아님)를 제공합니다. 예를 들어 describe()메서드를 생각해보세요.

In [5]:
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

This method generates a high-level summary of the attributes of the given column. It is type-aware, meaning that its output changes based on the data type of the input. The output above only makes sense for numerical data; for string data here's what we get:

이 메서드는 주어진 열의 속성에 대한 개략적인 요약을 생성합니다. 이 메서드는 유형 인식이므로 입력 데이터 유형에 따라 출력이 변경됩니다. 위의 출력은 숫자 데이터에 대해서만 의미가 있으며, 문자열 데이터의 경우 다음과 같은 결과를 얻을 수 있습니다.

In [6]:
reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

If you want to get some particular simple summary statistic about a column in a DataFrame or a Series, there is usually a helpful pandas function that makes it happen.

For example, to see the mean of the points allotted (e.g. how well an averagely rated wine does), we can use the mean() function:

dataframe 또는 series의 열에 대한 특정 간단한 요약 통계를 얻고자 하는 경우, 일반적으로 이를 수행하는 유용한 pandas 함수가 있습니다.

예를들어, 할당된 점수의 평균을 확인하려면 평균()함수를 사용할 수 있습니다(예:평균적으로 평가된 와인의 점수)

In [7]:
reviews.points.mean()

88.44713820775404

To see a list of unique values we can use the unique() function:

고유값의 목록을 보려면 unique()함수를 사용하면 됩니다.

In [8]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

To see a list of unique values and how often they occur in the dataset, we can use the value_counts() method:

고유값의 목록과 데이터집합의 고유값이 얼마나 자주 발생하는지 확인하려면  value_counts()메서드를 사용하면 됩니다.

In [9]:
reviews.taster_name.value_counts()

taster_name
Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: count, Length: 19, dtype: int64

# 3. Maps

A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later. Maps are what handle this work, making them extremely important for getting your work done!

There are two mapping methods that you will use often.

map() is the first, and slightly simpler one. For example, suppose that we wanted to remean the scores the wines received to 0. We can do this as follows:

map은 수학에서 가져온 용어로 한 값 집합을 다른 값 집합에 매핑하는 함수를 가리킵니다. 데이터 과학에서는 기존 데이터에서 새로운 표현을 만들거나 데이터를 현재 형식에서 나중에 원하는 형식으로 변환해야 하는 경우가 종종 있습니다. map은 이러한 작업을 처리하는 도구이므로 작업을 완료하는데 매우 중요합니다!

map()이 첫 번째, 약간 더 간단한 방법입니다. 예를 들어, 와인이 받은 점수를 0으로 다시 매핑하고 싶다고 가정해보겠습니다. 다음과 같이 할 수 있습니다.

In [17]:
reviews_points_mean = reviews.points.mean()
reviews.points.map(lambda p:p - reviews_points_mean)  # points 각 요소에서 평균값을 뺀 것

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

The function you pass to map() should expect a single value from the Series (a point value, in the above example), and return a transformed version of that value. map() returns a new Series where all the values have been transformed by your function.

apply() is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.

map()에 전달하는 함수는  Series에서 단일(위의 예에서는 점 값)을 예상하고 해당 값의 변환된 버전을 반환해야 합니다. map()은 함수에 의해 모든 값이 변환된 새 Series를 반환합니다.

각 행에서 사용자 정의 메서드를 호출하여 전체 데이터 프레임을 변환하려는 경우 apply()가 이에 상응하는 메서드입니다.

In [20]:
def remean_points(row):
    row.points  = row.points - reviews_points_mean
    return row

reviews.apply(remean_points, axis = 'columns')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

If we had called reviews.apply() with axis='index', then instead of passing a function to transform each row, we would need to give a function to transform each column.

Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.

axis='index'로 reviews.apply()를 함수로 호출했다면 각 행을 변환하는 함수를 전달하는 대신 각 열을 변환하는 함수를 전달해야 합니다.

map()및 apply()는 각각 변환된 새 series와 dataframe을 반환한다는 점에 유의하세요. 이 함수는 호출되는 원본 데이터를 수정하지 않습니다. 리뷰의 첫 번째 행을 보면 여전히 원래의 포인트 값을 가지고 있음을 알 수 있습니다.

In [22]:
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

Pandas provides many common mapping operations as built-ins. For example, here's a faster way of remeaning our points column:

pandas는 많은 일반적인 매핑 연산을 기본으로 제공합니다. 예를들어 포인트 열의 의미를 재정의하는 더 빠른 방법은 다음과 같습니다.

In [28]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In this code we are performing an operation between a lot of values on the left-hand side (everything in the Series) and a single value on the right-hand side (the mean value). Pandas looks at this expression and figures out that we must mean to subtract that mean value from every value in the dataset.

Pandas will also understand what to do if we perform these operations between Series of equal length. For example, an easy way of combining country and region information in the dataset would be to do the following:

이 코드에서는 왼쪽의 많은 값(계열의 모든 값)과 오른쪽의 단일 값(평균값)사이에서 연산을 수행하고 있습니다. pandas는 이 표현식을 보고 데이터 집합의 모든 값에서 평균값을 빼야한다는 것을 알아냅니다.

또한 길이가 같은 계열 간의 이러한 연산을 수행하면 어떻게 해야 하는지 이해합니다. 예를들어, 데이터 집합에서 국가와 지역 정보를 결합하는 쉬운 방법은 다음과 같이 하는 것입니다.

In [29]:
reviews.country + ' = ' + reviews.region_1

0            Italy = Etna
1                     NaN
               ...
129969    France = Alsace
129970    France = Alsace
Length: 129971, dtype: object

These operators are faster than map() or apply() because they use speed ups built into pandas.  All of standard Python operators(>, < ,==, and so on) work in this manner.

However, they are not as flexible as map() or apply(), which can do more advanced things, like applying conditional logic, which cannot be done with addition and subtraction alone.

이러한 연산자는 pandas에 내장된 속도 향상 기능을 사용하기 떄문에 map()또는 apply()보다 빠릅니다. 모든 표준 python 연산자(<,>,== 등 )는 이러한 방식으로 작동합니다.

그러나 더하기와 빼기만으로는 할 수 없는 조건부 논리 적용과 같은 고급작업을 수행할 수 있는 map() 또는 apply()만큼 유연하지는 않습니다.